.venv/
__pycache__/
*.db
.env
models/*.joblib

email_ingest/generated_replies/
email_ingest/processed_ids.txt

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
terraform.tfvars